*,
::after,
::before {
  box-sizing: border-box;
}
/* fonts */

html {
  font-size: 100%;
} /*16px*/

body {
  background: #F5F5F5;
  font-family: 'Tajawal', sans-serif;
  color: #764BA2;
}
.flex{
  display: flex;
}
small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
 
}
/* buttons */

/* .btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
} */

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


-----------------------------navbar-------------------------------
.navbar-header{
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

.nav-logo{
width: 124px;
height: 58px;
margin-left: 50px;
margin-right: 50px;
margin-top: 12px;
}
nav{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.nav-link{
    /* font-family: 'Tajawal'; */
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.01em;
    /* Primary */
    color: #5B3795;
    margin-right: 40px;
}
.header{
   background:#F5F5F5; 
}
.header-title{
font-family: Tajawal;
background: linear-gradient(to right, #667EEA 0%, #764BA2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
font-size: 63px;
/* font-size:43px; */
line-height:76px;
letter-spacing: 1%;
text-align: center;
}
.header-text{
  font-size: 24px;
  text-align: center;
}
.header-svg{
    width: 519px;
    height: 282px;
}
.text-img-warper{
  position: absolute;
  bottom: 2px;
  top: 220px;
  left: 4px;
  right: 4px;
}


/* ------------------features cover------------------- */
.features{
  margin-top: 380px;
}
.features-title{
font-family: Tajawal;
background: linear-gradient(to right, #667EEA 0%, #764BA2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-size:63px;
letter-spacing: 1%;
text-align: center;
font-weight: bold;

/* margin-top: 70px;
  margin-bottom: 70px; */
  margin-top: 120px;
  margin-bottom: 120px;
}
.features-text{
  font-family: 'Lato', sans-serif;
  font-style: Bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 13px; 
}
.features-cover{
  text-align: center;
}
.features-icon{
  font-size: 52px;
}

/* --------------service seaction css-------------------- */

.service-cart-cover{
  font-family: 'Tajawal';
  text-align: center;
  /* width: 316px; */
  height: 635px;
  border-radius: 20px;
  border: 2px solid #764BA2;
  box-sizing: border-box;
  padding-top: 15px;
  margin-top: 10px;
}
.service-cart-text{
  font-family: 'Tajawal';
  font-weight:medium;
  font-size: 19.96px;
  /* line-height: 34px; */
  text-align: left; 
  padding: 6px;
}

/* ----------------------License prices for software and technical services-------------------- */

.license-title{
  font-family: 'Tajawal';
  background: linear-gradient(to right, #667EEA 0%, #764BA2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 font-weight: 700;
 font-size: 43px;
 text-align: center;
}

.license-col{
  /* width:336px; */
  height:515px;
  background: linear-gradient(to right, #764BA2 0%, #667EEA 100%);
  border-radius: 25px;
  margin-top: 10px;
}
.license-div-header{
  background: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  position: relative;
  top: 50px;
  text-align: center;
}
.license-div-text{
  margin-top: 80px;
  color: #fff;
  margin-left: 25px;
  padding: 10px;
  font-size: 24px;
}
.license-ul{
  list-style-type: circle;
} 
.license-ul li {
  padding: 5px;
} 
.license-div-button{
  width: 254px;
  height: 58px;
  border-radius: 18px;
  position: relative;
  left: 28px;
}


/* -------------------------------package prices ------------------------- */
.package-title-cover{
  /* background: linear-gradient(#BA77FF, #6380FF); */
  background: linear-gradient(302deg, #FFFFFF 10.35%, rgba(255, 255, 255, 0) 41.94%), linear-gradient(334deg, #BA77FF 0%, #6380FF 100%);
  border: 5px solid #FFFFFF;
  transform: matrix(1, 0, 0, 1, 0, 0);
  /* margin-top: 70px;
  margin-bottom: 70px; */
  width: 85%;
  margin-top: 120px;
  margin-bottom: 120px;
}
.package-item-cover{
  margin-top: 20px;
}
  
.package-title{
  font-family: 'Tajawal';
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  margin-left: 40px;
}
.package-title-span{
  font-family: 'Tajawal';
  font-style: Regular;
  font-size: 32px;
}

.package-cart-title{
  font-family: 'Tajawal';
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
.package-cart-cover{
  text-align: center;
  /* width: 260px; */
  height: 346px;
  border-radius: 20px;
  border: 2px solid #764BA2;
  box-sizing: border-box;
  padding-top: 15px;
}

.package-cart-text{
  font-family: 'Tajawal';
 font-weight:medium;
 font-size: 28px;
 /* line-height: 34px; */
 text-align: center;

}
.package-cart-price{
  font-family: 'Tajawal';
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
.package-icon-cover{
    border-radius: 50%;
    border: 2px solid #764BA2;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    text-align: center;

    margin-left: 45%;
    margin-top: 2rem;
  }
  .fa-shopping-cart{
    font-size: 30px;
    margin-top: 7px;
  }
  
/* --------------------zedna goals------------------------------------- */

.shape-img-cover{
  margin-top: 50px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  line-height: 0;
}
.zedna-goals-title{
  font-family: 'Tajawal';
  background: linear-gradient(to right, #667EEA 0%, #764BA2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 font-weight: 700;
 font-size: 63px;
 text-align: center;
}
.zedna-goals-title-text{
  margin-top: 30px;
  margin-bottom: 70px;
}

.zedna-goals-header-text{
  font-family: 'Tajawal';
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.zedna-goals-col{
  text-align: center;
  
}
.zedna-goals-img{
 
}

.zedna-goals-text{
  font-size: 20px;
  font-style: bold;
  color: #5B3795;
  font-weight: bold;
  letter-spacing: 1%;
  text-align: center;
  padding: 30px;
}
.zedna-text-span{
  font-weight: bold;
}


/* --------------------------------footer-------------------------------- */
.footer{
  background: #5B3795;
  /* height: 292px;  */
}
.footer-img{
  position: relative;
  top: 53px;
}
.footer-first-layer{
  background:#F5F5F5;
}
.footer-second-layer {
  padding-top: 66px;
}
.footer-second-layer-text{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.01em;
color: #FFFFFF;
}

.footer-second-layer-ul li a{
  font-family: 'Lato', sans-serif;
  font-style: medium;
  font-size: 18px;
  line-height: 31px;
  color: #FFFFFF;
}

.footer-ul-title{
  font-family: 'Lato', sans-serif;
  font-style: SemiBold;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}
.footer-third-layer{
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-icons{
  gap: 30px;
  display: flex;
 
}
.footer-icons i{
  font-size: 24px;
  color: #ffff;
}



/* 
--------------------------signin page----------------------------------------- */
.signin-title{

  margin-bottom: 30px; 
  font-family: 'Tajawal';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 43px;
display: flex;
align-items: center;
background: linear-gradient(180deg, #6174B9 29.69%, #764BA2 60.42%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.signin-text{
  display: flex;
  justify-content: space-between;
}
.signin-text p {
  font-family: Tajawal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
.input-box{
  border-radius:20px; 
  margin-bottom: 30px;
  height: 61px;
  border: 3px solid  #667EEA;
}
input::placeholder {
  color: #828282;
  font-family: Tajawal;
  font-style: Regular;
  font-size: 20px;

}
.signin-button{
  background: linear-gradient(70.91deg, #BA77FF 0%, #6380FF 100%);
  box-shadow: 0px 4px 4px rgba(14, 53, 191, 0.25);
  border-radius: 12px;
  width: 100%;
  color: #ffff;
  /* height: 38px; */
  font-size: 20px;
}

.single-button{ 
  background: linear-gradient(70.91deg, #BA77FF 0%, #6380FF 100%);
  box-shadow: 0px 4px 4px rgba(14, 53, 191, 0.25);
  border-radius: 12px;
  width: 40%;
  color: #ffff;
  /* height: 38px; */
  font-size: 20px;
}
.single-button-outline{
  box-shadow: 0px 4px 4px rgba(14, 53, 191, 0.25);
  border-radius: 12px;
  width: 40%;
  color: #6380FF;
  /* height: 38px; */
  font-size: 20px;
  font-weight: bold;
}

/* --------------------------------enter otp ------------------------------ */
.otp-text p {
  font-family: 'Tajawal';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color:#828282;

}
.single-otp-button{ 
  background: linear-gradient(70.91deg, #BA77FF 0%, #6380FF 100%);
  box-shadow: 0px 4px 4px rgba(14, 53, 191, 0.25);
  border-radius: 12px;
  width: 60%;
  color: #ffff;
  /* height: 38px; */
  font-size: 20px;
}
.single-otp-button-outline{
  box-shadow: 0px 4px 4px rgba(14, 53, 191, 0.25);
  border-radius: 12px;
  width: 30%;
  color: #6380FF;
  /* height: 38px; */
  font-size: 20px;
  font-weight: bold;
}


/* ------------------------profile page-------------------------------------------- */

.profile-input-box{
  margin-bottom: 20px;
  height: 44px;
  border: 1px solid #B2BCCA;
  border-radius: 8px;
}
.profile-input-box::placeholder {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
} 